body{
    font-family: Arial;
    text-align: center;
}

.title{
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 106, 0);
}

.todo-list,
.input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    justify-content: center;
    vertical-align: center;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.input-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

.todo-name,
.date
{
    font-size: 15px;
    padding: 10px;
}

.add-todo{
    background-color: darksalmon;
    border: none;
    color: white;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.add-todo:hover{
    opacity: 0.8;;
}

.delete-todo{
    background-color: cornflowerblue;
    border: none;
    padding: 13px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}   